<%= image_tag 'background-yellow-square.png', class: "banner-bg"  %>
 <div class="container col-6 my-5">
  <div class="form-title mb-3">
    <h1 class="text-center mt-3">Set collective price for your <%= @product.name %> </h1>
  <div class="form-container pt-3">
     <div class="circles text-center">
      <i class="far fa-circle"></i>
      <i class="fas fa-circle"></i>
      <i class="far fa-circle"></i>
      <hr>
      <h4>STEP 2</h4>

    </div>
    <%= simple_form_for [@product, @listing] do |f|%>
      <div class="form-group m-5 px-5 pl">
        <%= f.input :stock, class: 'form-control',  placeholder:"Stock",label:"How many units do you have in total?", label_html: { class: "text-center w-100" }%>
      </div>

      <div class="initialandnext">
        <div class="form-group px-5 ">
          <%= f.input :max_price, class: 'form-control', label:"Maximum price €", label_html: { class: "text-center w-100" } %>
        </div>

        <div class="form-group px-5">
          <%= f.input :min_price, class: 'form-control', required: false, label:"Minimum price €", label_html: { class: "text-center w-100" }%>
        </div>
      </div>

      <div class="form-group m-5 px-5" data-controller="flatpickr">
        <%= f.text_field :end_date, data: { behavior: "flatpickr" }, placeholder: "What is the deadline for people to buy?", class: "form-control" %>
      </div>

      <div class="button d-flex justify-content-center pb-5">
        <button href="#" class="btn-gradient mt-3 text-center">Create listing</button>
      </div>

    <% end %>
  </div>
</div>
