<div class="form_container">
  <h1 class="text-center">How would you like to sell your product:</h1>
  <%= simple_form_for [@product, @listing] do |f|%>
    <div class="form-group m-5 p-2">
      <%= f.input :stock, class: 'form-control' %>
    </div>

    <div class="form-group m-5 p-2">
      <%= f.input :max_price, class: 'form-control' %>
    </div>

    <div class="form-group m-5 p-2">
      <%= f.input :min_price, class: 'form-control' %>
    </div>

    <div class="form-group m-5 p-2">
      <%= f.input :end_date, class: 'form-control' %>
    </div>

    <div class="d-flex justify-content-center mb-5">
      <%= f.submit%>
    </div>
  <% end %>
</div>
