<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="top-section">
        <div class="main-container">

          <div class= "image-container">
              <div class="PHOTO-1"> <img class = "photo-left" src=" <%= cl_image_path @listing.product.photos.first.key %>"> </div>
              <div class="PHOTO-2"> <img class = "photo-left2" src=" <%= cl_image_path @listing.product.photos.second.key %>"> </div>
              <div class="PHOTO-3"> <img class = "photo-right-top" src=" <%= cl_image_path @listing.product.photos.third.key %>"> </div>
              <div class="PHOTO-4"> <img class = "photo-right-top2" src=" <%= cl_image_path @listing.product.photos.fourth.key %>"> </div>
              <div class="PHOTO-5"> <img class = "photo-right-bottom" src=" <%= cl_image_path @listing.product.photos.fifth.key %>"> </div>
          </div>
        </div>
      </div>

      <div = class="text-container">
        <div class="row1">
          <p><strong>Description:</p></strong>
          <p> <%= @listing.product.description %></p>
          <p><strong>Impact:</p></strong>
          <p><%= @listing.product.impact %></p>

        </div>
        <div class="row2">
          <p><strong> Material: </strong></p>
          <p><%= @listing.product.material %></p>
          <p><strong>Origin: </strong></p>
          <p><%= @listing.product.origin %></p>
          <p><strong>Stock: </strong></p>
          <p><%= @listing.stock%></p>
          <p><strong>End date: </strong></p>
          <p><%= @listing.end_date.strftime("%A, %B %dth %Y") %></p>
        </div>
      </div>

      <div class="discount col-10 pl-0">
        <h1 class="ml-0"><strong>Collective buy progress</strong></h1>


        <% @listing.discount_bars.each do |bar| %>
          <p> If <%= bar[:limit] %> units are sold, the price will be <%= bar[:next_price] %>€ per unit</p>
          <p><strong>Sold: </strong><%= bar[:sold] %> <strong>out of</strong>  <%= bar[:limit] %></p>
          <p><strong>Actual price:  </strong><%= bar[:price] %> </p>
          <div class="rating-progress-bars py-3">
              <div class="progress">
                <div class="progress-bar bg-custom" style="width: <%= (bar[:sold] / bar[:limit].to_f ) * 100 %>%;"><%= (bar[:sold] / bar[:limit].to_f ) * 100 %> %</div>
              </div>
          </div>
        <% end %>

      </div>
      <p> <strong>Current quantity sold: </strong> <%= @listing.quantity_sold %>  </p>
    </div>

    <div class="side col-3 justify-content-center" style="text-align: center">
      <p class="sidep"><strong> <%= @listing.product.name.upcase %></strong></p>
      <p class="sidep"> <strong>Stock:</strong> <%= @listing.quantity_pending %> units left</p>
      <p class="sidep"> <strong>Current price: </strong><%= @listing.current_price %>€ per unit</p>
        <%= form_tag new_listing_purchase_path(@listing), method: :get do %>
          <%= number_field_tag 'quantity' %>
            <button href="#" class="btn-gradient mt-3 text-center">Buy now</button>
        <% end %>
    </div>
  </div>

</div>




