<div class="container col-8">
  <h1>Listing for</h1>
  <h2>Name: <%= @listing.product.name %></h2>
  <div>
    <p>Description: <%= @listing.product.description %></p>
    <p>Material: <%= @listing.product.material %></p>
    <p>Impact: <%= @listing.product.impact %></p>
    <p>Origin: <%= @listing.product.origin %></p>
    <p>Stock: <%= @listing.stock%></p>
    <p>End date: <%= @listing.end_date %></p>
  </div>
  <%= link_to "Go back", listings_path %>
</div>
