<div class="container col-8">
  <h1>Listing for</h1>
  <h2>Name: <%= @listing.product.name %></h2>
  <div>
    <% @listing.product.photos.each do |photo| %>
      <img heigth="300" src="<%= cl_image_path photo.key %>">
    <% end %>
    <p>Description: <%= @listing.product.description %></p>
    <p>Material: <%= @listing.product.material %></p>
    <p>Impact: <%= @listing.product.impact %></p>
    <p>Origin: <%= @listing.product.origin %></p>
    <p>Stock: <%= @listing.stock%></p>
    <p>End date: <%= @listing.end_date %></p>
  </div>
  <p><%= link_to "Buy this",  new_listing_purchase_path(@listing) %></p>
  <p><%= link_to "Go back", listings_path %></p>
</div>
