<div class="banner">
  <%= image_tag 'background-yellow-square.png', class: "banner-bg"  %>
  <h1 class="banner-title text-center">Buy <span class="text-gradient animated-underline">sustainable</span> products <br> at low prices</h1>
  <div class="d-flex justify-content-center mb-4"><%= link_to "Discover products", listings_path, class: "btn-gradient" %></div>
  <div class="images-container row container mx-auto">
    <div class="left-container col-3">
      <p>We want to promote a sustainable economy and create the largest sustainable shopping community</p>
      <%= image_tag 'collective-buy.png', class: "h-50 w-100" %>
    </div>
    <div class="right-container col-9 h-100">
      <div class="top-images pb-4 d-flex">
        <%= image_tag 'plastic-free-cotton.jpg', class: "w-50 h-auto" %>
        <div class="top-images-right-content pl-4">
          <p>Product certify by international fair <br> trade standars (FLO)</p>
          <div class="d-flex top-images-right">
            <%= image_tag 'eco-house.png', class: "h-100 " %>
            <%= image_tag 'eco-products.jpg', class: "h-100 " %>
           </div>
         </div>
      </div>
      <div class="bottom-images d-flex">
        <%= image_tag 'eco-soup.jpg', class: "eco-soup h-75" %>
        <%= image_tag 'eco-world.png', class: "green-world h-100 flex-grow-1 mx-5" %>
        <%= image_tag 'toothbrush.png', class: "toothbrush h-75" %>
      </div>
    </div>
  </div>
</div>
