<h2 class="text-center mb-5">Some of our favourite products</h2>

<div class="glide mb-5" data-controller="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">


          <% @listings.each do |listing| %>

            <li class="glide__slide">
              <div class="card-product ml-5 mb-3">
                <div class="card-img">
                  <%= link_to listing_path(listing), data: {turbolinks: false } do %>
                    <%= cl_image_tag listing.product.photos.first.key %>
                  <% end %>
                </div>
                <div class="card-body">
                  <div class="card-top-elements">
                    <p>UNTIL THE <%= listing.end_date %></p>
                    <p class="font-weight-bold"><%= listing.current_price %>€</p>
                  </div>
                  <div class="product-info">
                    <h5 class="mb-3"><strong><%= listing.product.name %></strong></h5>
                    <h6><%= listing.product.description %></h6>
                  </div>
                  <div class="card-bottom-elements">
                    <%= link_to "Join collective buy", new_listing_purchase_path(listing.id) %>
                    <div>
                      <%= link_to "Read more", listing_path(listing), data: {turbolinks: false } %>
                      <i class="fas fa-arrow-right"></i>
                    </div>
                  </div>
                </div>
              </div>

          <% end %>
          </li>


    </ul>
  </div>

  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="fas fa-angle-left "></i></button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="fas fa-angle-right"></i></button>
  </div>
</div>


