
<div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">


          <% @listings.each do |listing| %>

            <li class="glide__slide">
              <div class="card-product m-3">
                <div class="card-img">
                  <%= link_to listing_path(listing) do %>
                    <%= cl_image_tag listing.product.photos.first.key %>
                  <% end %>
                  <div>
                    <a class="quick-view-title" data-toggle="modal" data-target="#listing_<%= listing.id %>">Quick view</a>
                  </div>
                </div>
                <div class="card-body">
                  <div class="card-top-elements">
                    <p>UNTIL THE <%= listing.end_date %></p>
                    <p class="font-weight-bold"><%= listing.current_price %>€</p>
                  </div>
                  <div class="product-info">
                    <h5 class="mb-3"><strong><%= listing.product.name %></strong></h5>
                    <h6><%= listing.product.description %></h6>
                  </div>
                  <div class="card-bottom-elements">
                    <%= link_to "Join collective buy", new_listing_purchase_path(listing.id) %>
                    <div>
                      <%= link_to "Read more", listing_path(listing) %>
                      <i class="fas fa-arrow-right"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="listing_<%= listing.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered " role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body d-flex">
                      <%= cl_image_tag listing.product.photos.first.key, class: "modal-img" %>
                      <div>
                        <h5 class="m-3"><%= listing.product.name %></h5>
                        <p class="font-weight-bold text-center"><%= listing.current_price %>€</p>
                        <p>Quantity</p>
                        <%= form_tag new_listing_purchase_path(listing), method: :get do %>
                         <%= number_field_tag 'quantity' %>
                          <button type="submit" class="btn-gradient">Buy now</button>
                        <% end %>
                        <%= link_to "Read more", listing_path(listing) %>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

          <% end %>
          </li>


    </ul>
  </div>

  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
  </div>
</div>


