<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
  <h3 class="text-gradient navbar-btg">BeTooGreen</h3>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav d-flex align-items-center">
      <% if user_signed_in? %>
        <div class="search-box p-3">
          <button class="btn-search text-gradient"><i class="fas fa-search"></i></button>
          <input type="text" class="input-search" placeholder="Search...">
        </div>
        <li class="nav-item text-gradient ml-3 mr-3 p-3">
          <i class="fas fa-shopping-cart" id="cart-decoration"></i>
        </li>
        <li class="nav-item dropdown p-3">
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Create New Product</a>
            <a class="dropdown-item" href="#">Log out</a>
          </div>
        </li>

      <% else %>
         <li class="nav-link ml-1 mr-1">
          <%= link_to "How it works", "#", id: "black-font" %>
        </li>
        <li>
          <i class="fas fa-circle"></i>
        </li>
        <li class="nav-link text-gradient ml-1 mr-1">
          <%= link_to "What we do", "#" %>
        </li>
        <li>
          <i class="fas fa-circle"></i>
        </li>
        <li class="nav-link text-gradient ml-1 mr-1">
          <%= link_to "Contact us", "#" %>
        </li>
        <li>
          <i class="fas fa-circle"></i>
        </li>
        <li class="nav-link text-gradient ml-1 mr-5" id="cart-border">
          <i class="fas fa-shopping-cart"></i>
        </li>
         <li class="nav-item btn-gradient">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>

      <% end %>
    </ul>
  </div>
</div>
