<%= render 'shared/banner' %>


<div class="container">
  <div class="home-page-containers">
    <h2 class="text-center">How collective buying works</h2>
    <h5 class="text-center mt-2">Reduce your footprint and <strong><span class="text-gradient">go green</span></strong></h5>
    <div class="collective-steps d-flex">
      <div class="step-1 text-center">
        <i class="icon far fa-user mb-4" style="color: #00997B;"></i>
        <h4 class="mb-3">Find your favorite product</h4>
        <p>Search through all our sustainable products and find the perfect one for you.</p>
      </div>
      <div class="step-2 text-center">
        <i class="icon fas fa-users mb-4" style="color: #00997B;"></i>
        <h4 class="mb-3">Join the collective purchase</h4>
        <p>Watch the collective buy progress and discover the discounts you can have.</p>
      </div>
      <div class="step-3 text-center ">
        <i class="icon fas fa-leaf mb-4" style="color: #00997B;"></i>
        <h4 class="mb-3">Enjoy and be more green</h4>
        <p>Wait until the collective buying ends and get the product delivered to your house.</p>
      </div>
    </div>
  </div>



  <h2 class="carrousel-title text-center">Best rated products</h2>
  <div class="home-carrousel d-flex justify-content-center">
      <% @listings.sample(3).each do |listing| %>
        <%= link_to listing_path(listing) do %>
          <div class="card-product m-3">
          <div class="card-img">
            <%= cl_image_tag listing.product.photos.first.key %>
            <div class="quick-view-title">
              <a href="#">Quick view</a>
            </div>
          </div>
            <div class="card-body">
              <div class="card-top-elements">
                <p>UNTIL THE <%= listing.end_date %></p>
                <p><%= listing.current_price %>€</p>
              </div>
              <div class="product-info">
                <h5 class="mb-3"><strong><%= listing.product.name %></strong></h5>
              <% end %>
                <h6><%= listing.product.description %></h6>
              </div>
              <div class="card-bottom-elements">
                <%= link_to "Join collective buy", new_listing_purchase_path(listing) %>
                <div>
                  <%= link_to "Read more", listing_path(listing) %>
                  <i class="fas fa-arrow-right"></i>
                </div>
              </div>
            </div>
        </div>
    <% end %>
  </div>
  <div class="home-carrousel justify-content-center">
    <div class="seller-img">
    <%= image_tag 'seller-photo.png'%>
    <div class="seller-button">
    <%= link_to "Join", new_product_path, class: "btn-gradient mt-3 btn-block text-center"  %>
    </div>
    </div>
  </div>

</div>



