<%= render 'shared/banner-green' %>

<div class="container">
  <h1 class="mb-3">Components</h1>

      <%= render 'shared/carousel' %>



  <div>
    <h4 class="mb-4">Buttons</h4>
    <%= render 'shared/button' %>
    <br>
    <%= render 'shared/buttons-pages' %>
    <%= render 'shared/reviews-stars' %>
  </div>
  <br>
  <div>
    <h4 class="mb-4">Search bars</h4>
    <div class="col-8">
      <%= render 'shared/search-bar' %>
    </div>
  </div>
</div>


  <br>
    <h4 class="mb-4">Card</h4>
    <div class="cards-conteiner d-flex justify-content-around">
      <%= render 'shared/card' %>
      <%= render 'shared/card' %>
      <%= render 'shared/card' %>
    </div>
    <br>

</div>



