<div class="d-flex dashboard_background" >
  <!-- Quitamos mb-4 para que el bottom no deje un margen blanco -->

  <!-- Inicio side-bar -->
  <div class="side_bar_background">
    <div class="side_bar">

      <!-- Div esfera, hello y user-email -->
      <div class="side_bar_user_icon side_bar_padding pt-3">
        <div>
          <div class="side_bar_user_circle">
          </div>
        </div>

        <div class="pl-4 side_bar_text">
          <h3>Hello,</h3>

          <h5><strong> <%= current_user.short_email %></strong></h5>

        </div>
      </div>

      <hr class="side_bar_line">

      <!-- Inicio menú -->

      <div class="pt-4 side_bar_padding">
        <table class="side_bar_table">
            <tbody>

              <tr class="side_bar_link">
                <td>
                  <i class="fas side_bar_white fa-lg fa-credit-card"></i>
                </td>
                <td>
                  <a href="#purchases" class="side_bar_text_li">Purchases</a>
                </td>
              </tr>

              <tr class="side_bar_link">
                <td >
                  <i class="fas side_bar_white fa-lg fa-rocket"></i>
                </td>
                <td>
                  <a href="#sales-report" class="side_bar_text_li">Sales report</a>
                </td>
              </tr>

              <tr class="side_bar_link">
                <td >
                  <i class="fas side_bar_white fa-lg fa-users"></i>
                </td>
                <td>
                  <a href="#collective-buyings" class="side_bar_text_li">Collective buyings</a>
                </td>
              </tr>

              <tr class="side_bar_link">
                <td >
                  <i class="fas side_bar_white fa-lg fa-database"></i>
                </td>
                <td>
                  <a href="#products" class="side_bar_text_li">Products</a>
                </td>
              </tr>

              <tr class="side_bar_link">
                <td >
                  <i class="fas side_bar_white fa-user-cog"></i>
                </td>
                <td>
                  <a href="#settings" class="side_bar_text_li">Settings</a>
                </td>
              </tr>

          </tbody>
        </table>
      </div>

      <!-- Fin menú -->

    </div>
  </div>
  <!-- Fin side-bar -->

  <!-- Inicio el contenido del dashboard -->
  <div class="pt-4 pl-5 pr-5 flex-grow-1">
    <!-- Inicio purchases -->
    <div>
      <h2 id="purchases">Purchases</h2>
      <% if @user.purchases.length == 0 %>
      <p><strong>There are no purchases in your history!</strong></p>
      <p>Make your first order today with a 10% discount.</p>
      <a href="#" class="btn-gradient under">View our partners products</a>
      <% else %>
      <table class="dashboard_table">
        <thead class="dashboard_table_header">
          <tr>
            <th>ID</th>
            <th>Product</th>
            <th class="text-center">Date</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Price per unit</th>
            <th class="text-right">Total (€)</th>
            <th> </th>
          </tr>
        </thead>
        <tfoot>

        </tfoot>
        <tbody>
          <% @purchases.reverse_each do |purchase| %>
          <tr>
            <td class="dashboard_table_grey_text"> <%= purchase.id %> </td>
            <td> <%= purchase.listing.product.name %> </td>
            <td class="text-center"> <%= purchase.purchase_date_string %> </td>
            <td class="text-center"> <%= number_with_delimiter(purchase.quantity, delimiter:".") %> </td>
            <td class="text-center"> <%= purchase.listing.current_price %> </td>
            <td class="text-right"> <%= money_without_cents(purchase.total_price, delimiter:".") %></td>
            <td>
              <div class="dropdown show">
                <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                  <%= link_to "View details", listing_path(purchase.listing), class: 'dropdown-item', data: {turbolinks: false } %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <% end %>
    </div>
    <!-- Fin purchases -->

    <br><br>



    <br><br>

    <!-- Inicio collective buy -->
    <div>
      <h2 id="collective-buyings">Collective buyings</h2>
      <br>

      <!-- Inicio open -->
      <div>
        <h4>Open</h4>
        <% if @open_listings.length == 0 %>
        <p><strong>You don't have any open listing!</strong></p>
        <p>Create a new listing today and start growing your business while protecting the enviroment.</p>
        <a href="new_product_listing_path(product.id)" class="btn-gradient under">Choose a product to list</a>
        <% else %>
        <table class="dashboard_table">
          <thead class="dashboard_table_header">
            <tr>
              <th>ID</th>
              <th>Product</th>
              <th class="text-center">Quantity sold</th>
              <th class="text-center">Quantity pending</th>
              <th class="text-center">End date</th>
              <th class="text-right">Total €</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <% @open_listings.reverse_each do |listing| %>
            <tr>
              <td class="dashboard_table_grey_text"> <%= listing.id %> </td>
              <td> <%= listing.product.name %> </td>
              <td class="text-center"> <%= number_with_delimiter(listing.quantity_sold, delimiter:".") %> </td>
              <td class="text-center"> <%= number_with_delimiter(listing.quantity_pending, delimiter:".") %> </td>
              <td class="text-center"> <%= listing.end_date_string %> </td>
              <td class="text-right"> <%= money_without_cents(listing.total_sales, delimiter:".") %></td>
              <td>
                <div class="dropdown show">
                  <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <%= link_to "New discount", new_listing_discount_path(listing.id), class: 'dropdown-item' %>
                    <%= link_to "View details", listing_path(listing), class: 'dropdown-item', data: {turbolinks: false } %>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
        <% end %>
      </div>
      <!-- Fin open -->

      <br><br>

      <!-- Inicio closed -->

      <div>
        <h4>Closed</h4>
        <% if @closed_listings.length == 0 %>
        <p><strong>You don't have any closed listing!</strong></p>
        <% else %>
        <table class="dashboard_table">
          <thead class="dashboard_table_header">
            <tr>
              <th>ID</th>
              <th>Product</th>
              <th>Quantity sold</th>
              <th>Quantity pending</th>
              <th>End date</th>
              <th>Total €</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>

            <% @closed_listings.each do |listing| %>
              <tr>
                <td class="dashboard_table_grey_text"> <%= listing.id %> </td>
                <td> <%= listing.product.name %> </td>
                <td> <%= number_with_delimiter(listing.quantity_sold, delimiter:".") %> </td>
                <td> <%= number_with_delimiter(listing.quantity_pending, delimiter:".") %> </td>
                <td> <%= listing.end_date_string %> </td>

                <td> <%= listing.total_sales %>€ </td>
                <td>

                  <div class="dropdown show">
                    <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                      <%= link_to "New discount", new_listing_discount_path(listing.id), class: 'dropdown-item' %>
                      <%= link_to "View details", product_path(listing.product), class: 'dropdown-item', data: {turbolinks: false } %>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>

          </tbody>
        </table>
        <% end %>
      </div>
      <!-- Fin closed -->
    </div>
    <!-- Fin collective buy -->

    <br><br>

<!-- Inicio sales-report -->
    <% if @products_sorted_by_quantity.length >= 3 %>
      <div class="reports d-flex justify-content-around col-10 mx-auto">
        <div class="sales-report" data-controller="chart">
          <h3 id="sales-report" class="text-center mb-3" style="">Sales report (€)</h3>
          <div class="d-none" id="chartData" data-chart="<%= current_user.chart_hash.to_json %>"></div>
          <canvas id="myChart" style="display: block;box-sizing: border-box;height: 300px;width: 300px;"></canvas>
        </div>
        <div class="top-3-products d-flex flex-column justify-content-between">
          <h3 class="text-center">Top 3 products</h3>
          <div class="top-products m-auto w-100">
            <div class="text-center top-3-card">
              <div>
                <p class="m-0"> <strong> <%= @products_sorted_by_quantity.first.name %></strong></p>
                <i class="fas fa-trophy" style="font-size: 40px;" aria-hidden="true"></i>
              </div>
              <p class="m-0" style="font-size:13px;font-style: italic;"><%= @products_sorted_by_quantity.first.total_sellings_quantity %> units</p>
            </div>

            <div class="row" style="margin-top: 26px;">
              <div class="text-center col-6 d-flex flex-column justify-content-between top-3-card">
                <div>
                  <p class="m-0"><strong><%= @products_sorted_by_quantity.second.name.truncate(20) %></strong></p>
                  <i class="fas fa-trophy" style="font-size: 40px;" aria-hidden="true"></i>
                </div>

                <p class="m-0" style="font-size:13px;font-style: italic;"><%= @products_sorted_by_quantity.second.total_sellings_quantity %> units</p>
              </div>
              <div class="text-center col-6 d-flex flex-column justify-content-between top-3-card">
                <div>
                  <p class="m-0"><strong><%= @products_sorted_by_quantity.third.name.truncate(15) %></strong></p>
                  <i class="fas fa-trophy" style="font-size: 40px;" aria-hidden="true"></i>

                </div>

                <p class="m-0" style="font-size:13px;font-style: italic;"><%= @products_sorted_by_quantity.third.total_sellings_quantity %> units</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <!-- Fin sales-report -->

    <!-- Inicio products -->
    <div class="dashboard-products dashboard-title-and-button">
      <h2 id="products">Products</h2>
      <p></p>
      <%= link_to "+", new_product_path, class: "massive-icon" %>
    </div>
    <br>

    <div class="d-flex flex-wrap w-100">
        <div class="dashboard-products w-100">
              <% @products.each do |product| %>

              <div class="card-product">
                <%= link_to product_path(product.id) do %>
               <%= cl_image_tag product.photos.first.key %>

              <div class="card-img">
                <div class="quick-view-title">
                  <a href="#">Quick view</a>
                </div>
              </div>

              <div class="card-body">
                <div class="card-top-elements">
                  <% if product.listings.any? %>
                  <p>UNTIL THE <%= product.listings.last.end_date %></p>
                  <p class="font-weight-bold"><%= product.listings.last.current_price %>€</p>
                  <% else %>
                  <p>Not listed yet!</p>
                  <% end %>
                </div>
                <div class="product-info">
                  <h5 class="mb-3"><strong><%= product.name %></strong></h5>
                  <% end -%>
                  <h6><%= product.description %></h6>
                  <div class="card-bottom-elements">
                    <%= link_to "Create new listing", new_product_listing_path(product.id) %>
                    <div>
                      <% link_to "Read more", product_path(product.id) %>
                      <i class="fas fa-arrow-right" style="margin-left:6px;"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>

          </div>
   </div>
  <!-- Fin products -->

  <br><br>

  <!-- Inicio settings -->
  <div class="settings">
    <h2 id="settings">Settings</h2>
    <%= link_to edit_user_registration_path, class: "large-icon" do  %>
      <i class="far fa-edit"></i>
    <% end -%>
  </div>

<br>

  <!-- Fin settings -->

  <div class="pb-4">
    <p><strong>Name: </strong> Yanik</p>
    <p><strong>Last name: </strong> Meili</p>
    <p><strong>Street name: </strong> Carrer de Sants 45</p>
    <p><strong>Door number: </strong> 2º</p>
    <p><strong>Floor / Door: </strong> 4th</p>
    <p><strong>City: </strong> Barcelona</p>
    <p><strong>Postal Code: </strong> 08002</p>

  </div>

  <!-- Alt footer inicio -->
  <hr class="pb-4">
  <div class="text-center dashboard_background">
    <p>BeTooGreen© - Made in Le Wagon Barcelona with ♡ by BeTooGreen Team</p>
    <a href="mailto:hello@betoogreen.com" style="padding-right:20px">Contact</a>
    <a href="#">Partners</a>
    <br><br>
  </div>
  <!-- Alt foorer fin -->
</div>
<!-- Fin contenido del dashboard -->

</div>
