<div class="d-flex dashboard_background" >
  <!-- Quitamos mb-4 para que el bottom no deje un margen blanco -->

  <!-- Inicio side-bar -->
  <div class="side_bar_background">
    <div class="side_bar">

      <!-- Div esfera, hello y user-email -->
      <div class="side_bar_user_icon side_bar_padding pt-3">
        <div>
          <div class="side_bar_user_circle">
          </div>
        </div>

        <div class="pl-4 side_bar_text">
          <h3>Hello,</h3>
          <h5><strong> <%= @user.email %></strong></h5>
        </div>
      </div>

      <hr class="side_bar_line">

      <!-- Inicio menú -->
      <div class="pt-4 side_bar_padding">
        <ul class="side_bar_list">
          <li class="side_bar_link">
            <i class="fas side_bar_white fa-lg fa-credit-card"></i>
            <a href="#purchases" class="side_bar_text_li">Purchases</a>
          </li>
          <li class="side_bar_link">
            <i class="fas side_bar_white fa-lg fa-rocket"></i>
            <a href="#sales-report" class="side_bar_text_li">Sales report</a>
          </li>
          <li class="side_bar_link">
            <i class="fas side_bar_white fa-lg fa-users"></i>
            <a href="#collective-buyings" class="side_bar_text_li">Collective buyings</a>
          </li>
          <li class="side_bar_link">
            <i class="fas side_bar_white fa-lg fa-database"></i>
            <a href="#products" class="side_bar_text_li">Products</a>
          </li>
          <li class="side_bar_link">
            <i class="fas side_bar_white fa-user-cog"></i>
            <a href="#settings" class="side_bar_text_li">Settings</a>
          </li>
        </ul>
      </div>
      <!-- Fin menú -->

    </div>
  </div>
  <!-- Fin side-bar -->

  <!-- Inicio el contenido del dashboard -->
  <div class="pt-4 pl-5">
    <h2 class="pt-4"><strong>Dashboard</strong> </h2>

    <br><br>

    <!-- Inicio purchases -->
    <div>
      <h2 id="purchases">Purchases</h2>
      <% if @user.purchases.length == 0 %>
      <p><strong>There are no purchases in your history!</strong></p>
      <p>Make your first order today with a 10% discount.</p>
      <a href="#" class="btn-gradient under">View our partners products</a>
      <% else %>
      <table class="dashboard_table">
        <thead class="dashboard_table_header">
          <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Date</th>
            <th>Quantity</th>
            <th>Price per unit</th>
            <th>Total</th>
            <th> </th>
          </tr>
        </thead>
        <tfoot>

        </tfoot>
        <tbody>
          <% @purchases.each do |purchase| %>
          <tr>
            <td class="dashboard_table_grey_text"> <%= purchase.id %> </td>
            <td> <%= purchase.listing.product.name %> </td>
            <td> <%= purchase.purchase_date_string %> </td>
            <td> <%= purchase.quantity %> </td>
            <td> <%= purchase.listing.current_price %> </td>
            <td> <%= purchase.total_price %>€ </td>
            <td>

                <div class="dropdown show">
                  <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ···
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <%= link_to "View details", product_path(purchase.listing.product), class: 'dropdown-item' %>
                  </div>
                </div>
            </td>
          </tbody>
          <% end %>
        </tr>
      </table>
      <% end %>
    </div>
    <!-- Fin purchases -->

    <br><br>

    <!-- Inicio sales-report -->
    <div class="d-flex">
      <div class="pr-3">
        <h3 id="sales-report">Sales report</h3>
        <%= image_tag 'dashboard-graph.jpg', height:248, alt:"You shouldn't see this", style: 'border-radius: 16px' %>
      </div>
      <div>
        <h3>Top 3 products</h3>
        <%= image_tag 'dashboard-top.jpg', height:248, alt:"You shouldn't see this", style: 'border-radius: 16px' %>
      </div>
    </div>
    <!-- Fin sales-report -->

    <br><br>

    <!-- Inicio collective buy -->
    <div>
      <h2 id="collective-buyings">Collective buyings</h2>
      <br>

      <!-- Inicio open -->
      <div>
        <h4>Open</h4>
        <% if @open_listings.length == 0 %>
        <p><strong>You don't have any open listing!</strong></p>
        <p>Create a new listing today and start grwoing your business while protecting the enviroment.</p>
        <a href="new_product_listing_path(product.id)" class="btn-gradient under">Choose a product to list</a>
        <% else %>
        <table class="dashboard_table">
          <thead class="dashboard_table_header">
            <tr>
              <th>ID</th>
              <th>Product</th>
              <th>Quantity sold</th>
              <th>Quantity pending</th>
              <th>End date</th>
              <th>Total</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <% @open_listings.each do |listing| %>
            <tr>
              <td class="dashboard_table_grey_text"> <%= listing.id %> </td>
              <td> <%= listing.product.name %> </td>
              <td> <%= listing.quantity_sold %> </td>
              <td> <%= listing.quantity_pending %> </td>
              <td> <%= listing.end_date_string %> </td>
              <td> <%= listing.total_sales %>€ </td>
              <td>
                <div class="dropdown show">
                  <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ···
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <%= link_to "New discount", new_listing_discount_path(listing.id), class: 'dropdown-item' %>
                    <%= link_to "View details", product_path(listing.product), class: 'dropdown-item' %>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
        <% end %>
      </div>
      <!-- Fin open -->

      <br><br>

      <!-- Inicio closed -->

      <div>
        <h4>Closed</h4>
        <% if @closed_listings.length == 0 %>
        <p><strong>You don't have any closed listing!</strong></p>
        <% else %>
        <table class="dashboard_table">
          <thead class="dashboard_table_header">
            <tr>
              <th>ID</th>
              <th>Product</th>
              <th>Quantity sold</th>
              <th>Quantity pending</th>
              <th>End date</th>
              <th>Total</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <% @closed_listings.each do |listing| %>
            <tr>
              <td class="dashboard_table_grey_text"> <%= listing.id %> </td>
              <td> <%= listing.product.name %> </td>
              <td> <%= listing.quantity_sold %> </td>
              <td> <%= listing.quantity_pending %> </td>
              <td> <%= listing.end_date_string %> </td>
              <td> <%= listing.total_sales %>€ </td>
                <div class="dropdown show">
                  <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ···
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <%= link_to "New discount", new_listing_discount_path(listing.id), class: 'dropdown-item' %>
                    <%= link_to "View details", product_path(listing.product), class: 'dropdown-item' %>
                  </div>
                </div>
            </tr>
          </tbody>
          <% end %>
        </table>
        <% end %>
      </div>
      <!-- Fin closed -->
    </div>
    <!-- Fin collective buy -->

    <br><br>

    <!-- Inicio products -->
    <div class="dashboard-products dashboard-title-and-button">
      <h2 id="products">Products</h2>
      <%= link_to "Add a product", new_product_path, class: "btn-gradient" %>
    </div>
    <br>

    <div class="container d-flex flex-wrap">
        <div class="dashboard-products">
              <% @products.each do |product| %>
              <%= link_to product_path(product.id) do %>
              <div class="card-product m-3">
               <%= cl_image_tag product.photos.first.key %>

              <div class="card-img">
                <div class="quick-view-title">
                  <a href="#">Quick view</a>
                </div>
              </div>

              <div class="card-body">
                <div class="card-top-elements">
                  <% if product.listings.any? %>
                  <p>UNTIL THE <%= product.listings.last.end_date %></p>
                  <p class="font-weight-bold"><%= product.listings.last.current_price %>€</p>
                  <% else %>
                  <p>Not listed yet!</p>
                  <% end %>
                </div>
                <div class="product-info">
                  <h5 class="mb-3"><strong><%= product.name %></strong></h5>
                  <% end -%>
                  <h6><%= product.description %></h6>
                  <div class="card-bottom-elements">
                    <%= link_to "Create new listing", new_product_listing_path(product.id) %>
                    <div>
                      <% link_to "Read more", product_path(product.id) %>
                      <i class="fas fa-arrow-right"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>

          </div>
  </div>
  <!-- Fin products -->

  <br><br>

  <!-- Inicio settings -->
  <div>
    <h2 id="settings">Settings</h2>
    <br>
  </div>
  <!-- Fin settings -->

  <div class="pb-4">

    <form action="#" class="form form-gropu pv-3">
      <input type="text" placeholder="First name" class="form-control mb-3 ml-0">
      <input type="text" placeholder="Last name" class="form-control mb-3 ml-0">
      <input type="text" placeholder="Street name" class="form-control mb-3 ml-0">
      <input type="integer" placeholder="Door number" class="form-control mb-3 ml-0">
      <input type="text" placeholder="Floor / Door" class="form-control mb-3 ml-0">
      <input type="text" placeholder="Postal Code" class="form-control mb-3 ml-0">
      <input type="text" placeholder="City" class="form-control mb-3 ml-0">
      <input type="submit" value="Update your data" class="btn-gradient under dashboard-title-button" style="width:100%">
    </form>

  </div>

  <!-- Alt footer inicio -->
  <hr class="pb-4">
  <div class="text-center dashboard_background">
    <p>BeTooGreen© - Made in Le Wagon Barcelona with ♡ by BeTooGreen Team</p>
    <a href="mailto:hello@betoogreen.com" style="padding-right:20px">Contact</a>
    <a href="#">Partners</a>
    <br><br>
  </div>
  <!-- Alt foorer fin -->
</div>
<!-- Fin contenido del dashboard -->

</div>
