<%= image_tag 'background-yellow-square.png', class: "banner-bg"  %>
<div class="container col-6 my-5">
  <div class="form-title mb-3">
    <h1 class="text-center mt-3">What product do you want to add?</h1>
  </div>
  <div class="form-container pt-3">
     <div class="circles text-center">
      <i class="fas fa-circle"></i>
      <i class="far fa-circle"></i>
      <i class="far fa-circle"></i>
      <hr>
      <h4>STEP 1</h4>
    </div>
    <%= simple_form_for @product do |f|%>
      <div class="form-group m-5 px-5">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control'%>
      </div>

      <div class="form-group m-5 px-5">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control'%>
      </div>


      <div class="form-group m-5 px-5" data-controller="select">
        <%= f.input :material, class: 'form-control', collection: Product::MATERIALS, input_html: { class: "select2", multiple: "multiple" }  %>
      </div>

      <div class="form-group m-5 px-5">
        <%= f.label 'Positive environmental and social impact' %>
        <%= f.text_area :impact, class: 'form-control' %>
      </div>

      <div class="form-group m-5 px-5" data-controller="autocomplete">
        <%= f.label :origin %>
        <%= f.text_field :origin, class: 'form-control', input_html: { id: true } %>
      </div>

      <div data-controller="photosproduct">
        <div class="form-group m-5 px-5">
         <%= f.input :photos, as: :file, input_html: { multiple: true, data: { 'photosproduct-target': 'input', action: "change->photosproduct#preview"} } %>
        </div>
        <div data-photosproduct-target="photo"><%= image_tag 'iconphoto.png', id: "photo1", alt: "your image" %></div>
        <div data-photosproduct-target="photo"><%= image_tag 'iconphoto.png', id: "photo2", alt: "your image" %></div>
        <div data-photosproduct-target="photo"><%= image_tag 'iconphoto.png', id: "photo3", alt: "your image" %></div>
        <div data-photosproduct-target="photo"><%= image_tag 'iconphoto.png', id: "photo4", alt: "your image" %></div>
        <div data-photosproduct-target="photo"><%= image_tag 'iconphoto.png', id: "photo5", alt: "your image" %></div>

      </div>

      <div class="button d-flex justify-content-center pb-5">
        <button href="#" class="btn-gradient mt-3 text-center">Create product</button>
      </div>
    <% end %>
  </div>
  </div>
