<%= image_tag 'background-yellow-square.png', class: "banner-bg"  %>
<div class="container col-8 my-5">
  <div class="form-title mb-3">
    <h1 class="text-center mt-3">What product do you want to add?</h1>
  </div>
  <div class="form-container pt-3">
     <div class="circles text-center">
      <i class="fas fa-circle"></i>
      <i class="far fa-circle"></i>
      <i class="far fa-circle"></i>
      <hr>
      <h4>STEP 1</h4>
    </div>
    <%= simple_form_for @product do |f|%>
      <div class="form-group m-5 px-5">
        <%= f.label :"How do you call your product?" %>
        <%= f.text_field :name, class: 'form-control'%>
      </div>

      <div class="form-group m-5 px-5">
        <%= f.label :"Please describe your product in a few lines: "%>
        <%= f.text_area :description, class: 'form-control'%>
      </div>


      <div class="form-group m-5 px-5" data-controller="select">
        <%= f.input :material, class: 'form-control',label:"What is your product made of ?" , collection: Product::MATERIALS, input_html: { class: "select2", multiple: "multiple" }  %>
      </div>

      <div class="form-group m-5 px-5">
        <%= f.label 'What is the positive environmental and social impact?' %>
        <%= f.text_area :impact, class: 'form-control' %>
      </div>

      <div class="form-group m-5 px-5" data-controller="autocomplete">
        <%= f.label :"Where is your product from ?" %>
        <%= f.text_field :origin, class: 'form-control', input_html: { id: true } %>
      </div>

      <div data-controller="photosproduct">
        <div class="form-group my-4 text-center">
         <%= f.input :photos,
                     label: 'Upload a photo',
                     as: :file,
                     label_html: { class: 'btn-gradient mt-5'},
                     input_html: {
                      multiple: true,
                      data: { 'photosproduct-target': 'input',
                      action: "change->photosproduct#preview"} ,
                      class: "d-none"
                     } %>
        </div>
        <div class="image-container px-5">
          <div data-photosproduct-target="photo" class="PHOTO-1-P"><%= image_tag 'iconphoto.png', id: "photo1", alt: "your image", style: "border-radius: 16px 0 0 16px;" %></div>
          <div data-photosproduct-target="photo" class="PHOTO-2-P"><%= image_tag 'iconphoto.png', id: "photo2", alt: "your image" %></div>
          <div data-photosproduct-target="photo" class="PHOTO-3-P"><%= image_tag 'iconphoto.png', id: "photo3", alt: "your image" %></div>
          <div data-photosproduct-target="photo" class="PHOTO-4-P"><%= image_tag 'iconphoto.png', id: "photo4", alt: "your image" %></div>
          <div data-photosproduct-target="photo" class="PHOTO-5-P"><%= image_tag 'iconphoto.png', id: "photo5", alt: "your image" %></div>
        </div>
      </div>

      <div class="button d-flex justify-content-center pb-5">
        <button href="#" class="btn-gradient mt-5 text-center">Create product</button>
      </div>
    <% end %>
  </div>
  </div>
