<p>Name: <%= @product.name %></p>
<p>Descrpition: <%= @product.description %></p>
<p>Material: <%= @product.material %></p>
<p>Impact: <%= @product.impact %></p>
<p>Origin: <%= @product.origin %></p>
<% @product.photos.each do |photo| %>
  <%= cl_image_tag photo.key %>
<% end %>
<p><%= link_to "New listing", new_product_listing_path(@product) %></p>
<p><%= link_to "DASHBOARD", dashboard_path %></p>
